@font-face {
  font-family: mod;
  src: url(./ModernSans-Light.otf);
}

* {
  font-family: mod;
  scroll-behavior: smooth;
  /* border:1px solid rgba(173, 23, 23, 0.589); */
}
/* HIDE SCROLLBARS */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html {
  background-image: url(./wood.webp);
  background-size: cover;
  width: 100vw;
}

body {
  margin:none;
  overflow:hidden;
}

/* STATS PAGE */
.title {
  font-size: 1.4rem;
  padding-bottom:.5rem;
  font-weight: 600;
}
a, a:visited {
  color:#0de7e7;
}
#stats_main {
  background-color: #000;
  width:80vw;
  max-width:400px;
  display:flex;
  padding-bottom:50px;
  align-items: center;
  justify-content: center;
  transform-origin: center center;
  transform: rotate(-3deg);
}

#stats_wrap {
  color: #0de7e7;
  width: 80vw;
  max-width:400px;
  height: 75vh;
  margin-top: 10vh;
  overflow-y: scroll;
}

#stats_wrap>div {
  padding: calc(min(3vw, 3vh));
}
#down_stats {
  width:100vw;
  position: absolute;
  bottom: -8vh;
}
.popup {
  z-index:1;
  transform-origin: center center;
  animation: popup 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
@keyframes popup {
  0% {
    transform:translateY(10vh);
  }
  100% {
    transform:translateY(0);
  }
}
.down_wrap {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: .4rem;
  border: 3px solid #0de7e7;
}
.flex {
  display:flex;
}
.center {
  align-items: center;
  justify-content: center;
}
.row {
  flex-direction: row;
}