@font-face {
  font-family: mod;
  src: url(./ModernSans-Light.otf);
}

:root {
  --blue: #010c52ff;
  --gray: lightgray;
  --dark: #111;
  --lite: #eee;
  --white:white;
  --black: black;
}

html {
  box-sizing: border-box;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}

* {
  /* border: 1px solid #ffffff66; */
  font-family: mod;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

input[type=text] {
  background: transparent;
  color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  bottom: 17.5vh;
  left: 0;
  width: 100vw;
  height: fit-content;
  padding: .25rem .25rem 2rem .25rem;
}

main::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

article {
  width: 97vw;
}

#msg {
  margin: 0 1rem;
  width: 60vw;
  color:var(--white);
}
.msg {
  display: none;
  flex-direction: row;
  align-items: center;
  max-width: 85vw;
  margin-bottom:1px;
}

.msg>img {
  width: 3rem;
  height: 3rem;
}
#sms-marker {
  height: 2.5vh;
  position: fixed;
  bottom: 12.5vh;
  display:flex;
  align-items: center;
}
#small-me {
  margin: 0 0rem 1rem 1rem;
}
#sms-connect {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding-left: 1rem;
}

.texting {
  width: .5vh;
  height: .5vh;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 .25rem;
  animation: texting 1s linear infinite;
}

.texting:nth-of-type(2) {
  animation-delay: 100ms;
}

.texting:nth-of-type(3) {
  animation-delay: 200ms;
}

@keyframes texting {
  0% {
    transform: translateY(0vh);
  }

  10% {
    transform: translateY(-.5vh);
  }

  15% {
    transform: translateY(0vh);
  }

  20% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

.hide {
  display: none;
}

.txt {
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  width: fit-content;
  margin-left: .7rem;
}

sup {
  font-size: .4rem;
}

a,
a:visited {
  color: rgb(12, 217, 224);
}

#settings {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.settings {
  fill:white;
}
#settings-opt {
  position:fixed;
  top:0;
  right:0;
  width:fit-content;
  height:fit-content;
}