@font-face {
  font-family: mod;
  src: url(./ModernSans-Light.otf);
}

* {
  font-family: mod;
  scroll-behavior: smooth;
  /* border:1px solid rgba(173, 23, 23, 0.589); */
}

:root {
  --blue: #010c52ff;
  --gray: lightgray;
  --dark: #111;
  --lite: #eee;
  --white: white;
  --black: black;
  --ww: 100vw;
}
html {
  background-image: url(./wood.webp);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin:0;
  overflow: hidden;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: var(--black);
  width: var(--ww);
  height: 100%;
  overflow: hidden;
}

#index_main {
  width:var(--ww);
  height:fit-content;
}


/* TIME, BATTERY, SIGNAL */
header {
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: var(--ww);
  height: fit-content;
  justify-content: end;
  margin-right: 1rem;
  font-size: .6rem;
  color: #ccc;
  padding:3px;
}

header>svg {
  width: .8rem;
  height: .8rem;
  fill: #ccc;
  padding-right: 5px;
}

header>div {
  padding-right: 5px;
}

/* MAIN SECONDARY ELEMENT: TEXT INPUT, ETC. */
footer {
  position: absolute;
  bottom: 0;
  left: 12px;
  width: calc(var(--ww) - 23px);
  height: 10vh;
  align-items: center;
  justify-content: right;
  margin-right: 10px;
  background-color: #000;
  z-index: 1;
}

/* TEXT INPUT FIELD */
#chat {
  background: transparent;
  color: var(--white);
  border-radius: 2rem;
  padding: 1rem;
  position: relative;
  right: 0;
  bottom: 0;
  width: 60%;
  max-width: 300px;
  color: var(--white);
  border: 1px solid #666;
}

/* TEXT INPUT ELEMENTS WRAPPER */
#icons {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  padding-right: 5px;
}

/* TEXT INPUT ELEMENTS */
#emo,
#mic {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .25rem;
}

/* CAMERA */
#camera {
  width: 24px;
  height: 24px;
  fill: #666;
  margin-right: 1.5rem;
}

/* EMOJI BAR */
#emojis {
  display: none;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 1rem;
  position: absolute;
  bottom: 85%;
  right: 0;
  cursor: default;
}

/* GENERAL STYLING CLASSES */
.flex {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.hide {
  display: none;
}

/* SCROLLING ELEMENT */
#screen {
  position:fixed;
  bottom:15%;
  width: 95%;
  height: fit-content;
  max-height: 82%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 2.5%;
  transition: all .5s linear;
  z-index:10;
}

/* HIDE SCROLLBARS */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* INPUT TYPE TEXT */
.user_input_wrap {
  width: 100%;
  position: relative;
  justify-content: right;
}

.msg,
.user_input {
  align-items: center;
  max-width: 85%;
  margin-bottom: 1px;
  color: #fff;
}

.user_input {
  background-color: var(--blue);
  padding: 1rem;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

/* MESSAGE TIMESTAMP */
.now {
  color: #bbb;
  position: relative;
  left: 4.5rem;
  font-size: .6rem;
  width:fit-content;
}
.now.left {
  width:fit-content;
  padding-left:calc(100% - 3rem);
  left:unset;
  /* right:0; */
}

/* AVATARS */
#small-me svg {
  margin-left: 10px;
}

.msg>svg {
  min-width: 3rem;
  min-height: 3rem;
}

/* TECHNICALLY MMS, BUT THIS IS WRAP FOR TYPING DOTS */
#mms-connect {
  display: flex;
  flex-direction: row;
  height: fit-content;
  padding-left: 1rem;
}

#mms-marker {
  height: fit-content;
  position: absolute;
  bottom: 7.5vh;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  z-index: 2;
}

/* TYPING MMS INDICATOR */
.texting {
  width: .5vh;
  height: .5vh;
  background-color: var(--white);
  border-radius: 50%;
  margin: 0 .25rem;
  animation: texting 1s linear infinite;
}

.texting:nth-of-type(2) {
  animation-delay: 100ms;
}

.texting:nth-of-type(3) {
  animation-delay: 200ms;
}

@keyframes texting {
  0% {
    transform: translateY(0vh);
  }

  10% {
    transform: translateY(-.5vh);
  }

  15% {
    transform: translateY(0vh);
  }

  20% {
    transform: translateY(0vh);
  }

  100% {
    transform: translateY(0vh);
  }
}

/* PRIMARY TEXT MESSAGE WRAPPERS */
.txt {
  background-color: #222;
  color: var(--white);
  padding: 1rem;
  border-top-left-radius:24px;
  border-top-right-radius:24px;
  border-bottom-left-radius:24px;
  border-bottom-right-radius:24px;
  width: fit-content;
  margin-left: .7rem;
}

/* SUPERSCRIPT */
sup {
  font-size: .4rem;
}

/* LINKS */
a,
a:visited {
  color: rgb(12, 217, 224);
}

/* DON'T SHOW BUT KEEP FOR POSITIONING */
.inviz {
  visibility: hidden;
}

/* SETTINGS */
#settings {
  position: fixed;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.settings {
  fill: white;
}

#settings-opt {
  position: fixed;
  top: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
}

#down {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 0;
  transition:bottom .2s linear;
}

.down_wrap {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #111;
  padding: .4rem;
}

/* INSET BOX SHADOW FOR FULLSCREEN */
body::before,
body::after {
  content: " ";
  height: 100vh;
  position: absolute;
  top: 0;
  width: 15px;
  background-color: #000;

}

body::before {
  box-shadow: -10px 0 10px -10px inset #666;
  right: -10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 5px;
}

body::after {
  box-shadow: 15px 0 15px -15px inset #666;
  left: -10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 5px;
}

@media only screen and (min-width: 1024px) {
  :root {
    --ww: 80vw;
  }

  body {
    left: 10vw;
  }
}